#result-card {
  background-color: #F5F5F5;
  margin: 1.5rem;
  width: 80%;
  border-radius: 10px;
  opacity: 0.95;
  margin-left: auto;
  margin-right: auto;
}
#card-img-result {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  padding: 0.5rem;
}
