.filter-card {
    background-color: transparent;
    width: 100%;
    text-align: center;
    li:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    .filter-card-body {

      hr {
        border-top: 1px solid #E0E0E0;
        width: 90%;
        margin: auto;
      }

      .filter-card-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
      }

      .filter-card-term {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        margin: 10px;
      }
      .filter-card-subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 20px;
      }
      .filter-card-svg {
        padding: 10px;
      }
    }
}

.result-card {

  background-color: transparent;
  width: 100%;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  overflow: hidden;
  max-width: 900px;

  &:empty {
    background-color: #EBEBEB;
    animation: pulse 1s infinite ease;
  }

  &:hover {

    .result-card-img .result-card-img-overlay {
        opacity: 1;
        transition: opacity 0.1s ease;
    }

    .result-card-body .result-card-options {
      opacity: 1;
    }
  }

  a {
    display: flex;

    .result-card-img {

      position: relative;

      img {
        width: 230px;
        height: 130px;
        min-height: 130px;
        min-width: 230px;
        object-fit: cover;
      }
      .result-card-video-duration {
        position: absolute;
        background-color: red;
        bottom: 4px;
        right: 5px;
        padding: 2px 4px 2px 4px;
        font-size: 12px;
        line-height: 12px;
        color: #F3F3F3;
        background-color: rgba(13, 13, 13, 0.7);
        border-radius: 2px;
      }
      .result-card-img-overlay {
        color: #F5F5F5;
        background-color: transparent;
        position: absolute;
        left: 3%;
        top: 7%;
        opacity: 0;
        transition: opacity 0.1s ease;
      }
    }
    .result-card-body {

      padding-left: 15px;
      position: relative;
      width: 100%;

      .result-card-title {
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 3px;
        margin-top: 2px;
        width: 90%;
      }
      .result-card-info {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: #6D6D6D;
      }
      .result-card-description {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: #6D6D6D;
        margin-top: 10px;
        margin-bottom: 0;
        width: 95%;
      }
      .result-card-options {
        color: #6D6D6D;
        position: absolute;
        top: 7%;
        right: 3%;
        opacity: 0;
      }
    }
  }
}
