venv/
__pycache__/
*.jpg
*.mp4
*.sqlite
*.icloud
typings/
node_modules/
package-lock.json
.sass-cache/
db_start.py
*.map
upload_videos/*
*.temp
flask/data/website/static/js/bundle.js
website/src/bundle.js
