venv/
__pycache__/
*.jpg
*.mp4
*.mp3
*.sqlite
*.icloud
typings/
node_modules/
.sass-cache/
db_start.py
*.map
upload_videos/*
*.temp
migrations/
*.env
postgres-data/
bundle.js
bundle.js.gz
precache-*
service-worker.js
