// main.scss

$border-radius: 0;
// $input-border-radius-lg: 15px;
$input-font-size-lg: 16px;
$input-height-lg: 3rem;
$white: transparent;
$input-bg: transparent;
$input-padding-y-lg: 1rem;
$input-padding-x-lg: 1.5rem;
$navbar-padding-y: 0.2rem;
$navbar-padding-x: 0.2rem;

// required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// optional
//@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities/spacing";


* {
    margin: 0;
    padding: 0;
}
a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: black;
}
hr {
    border-top: 1px solid #ccc;
    width: 100%;
}
#result-link {
    color: black;
}
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
body {
    background-color: #F5F5F5;
    margin-bottom: 1rem;
}
.app {
    padding-right: 2rem;
    padding-bottom: 1rem;
}
@media all and (min-width: 1200px) {
    .app  {
      margin-left: 20%;
      margin-right: 20%;
    }
}
#img-profil {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#posts {
    margin-bottom: 1.5rem;
    background-color: $white;
    opacity: 0.9;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1
}
.slider {
    position: relative;
    -webkit-appearance: none;
    width: 50px;
    height: 26px;
    background-color: #E8E7E7;
    border: 0.5px solid black;
    outline: none;
    transition: 0.4s;
    border-radius: 30px;
    cursor: pointer;

    &:checked {
      background-color: #F1DA66;
    }
    &:before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 20px;
      top: 5%;
      left: 5%;
      background-color: black;
      transition: 0.4s;
    }
    &:checked:before {
      left: 25px;
    }
}
.form-control {
    border-width: 1px;
    outline: black;
    border-color: black;
}
.form-control:focus {
    border-width: 1px;
    border-color: black;
    box-shadow: 0 0 0 0;
}
.container {
    width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
.row {
    &:before, &:after {
      content: "";
      display: table;
      clear: both;
    }
}
[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 8.33%;
    padding: 0.15rem;
    background-color: $white;
}
.col-1{ width: 8.33%;  }
.col-2{ width: 16.66%; }
.col-3{ width: 25%;    }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%;    }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%;    }
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;  }

@media all and (max-width:800px) {
    .col-1{ width: 16.66%;  }
    .col-2{ width: 33.33%;  }
    .col-3{ width: 50%;     }
    .col-4{ width: 66.66%;  }
    .col-5{ width: 75%;     }
    .col-6{ width: 91.66%;  }
    .col-7{ width: 100%;    }
    .col-8{ width: 100%;    }
    .col-9{ width: 100%;    }
    .col-10{ width: 100%;   }
    .col-11{ width: 100%;   }
    .col-12{ width: 100%;   }

    .row .col-2:last-of-type {
        width: 100%;
    }

    .row .col-10 ~ .col-1 {
        width: 100%;
    }
}

@media all and (max-width:650px) {
        .col-1{ width: 50%;    }
        .col-2{ width: 100%;   }
        .col-3{ width: 100%;   }
        .col-4{ width: 100%;   }
        .col-5{ width: 100%;   }
        .col-6{ width: 100%;   }
        .col-7{ width: 100%;   }
        .col-8{ width: 100%;   }
        .col-9{ width: 100%;   }
        .col-10{ width: 100%;  }
        .col-11{ width: 100%;  }
        .col-12{ width: 100%;  }
    }
