// main.scss

// required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// optional
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/spinners";


// google fonts
@import "node_modules/sass-google-fonts/src/GoogleFonts.scss";

@include google-font('Roboto', '400,500,700');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    position: relative;
    min-height: 101%;
    font-size: 14px;
    line-height: 16px;
}
body {
    margin: 0;
    //background-color: #F1F1F1;
    background-color: #FAFAFA;
    //background-color: #F2F2F2;
    margin-bottom: 1rem;
    font-family: 'Roboto';
    color: #2A2A28;
}
a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: black;
}
hr {
    border-top: 1px solid #ccc;
    width: 100%;
}
#result-link {
    color: black;
}
.app {
    padding-right: 2rem;
    padding-bottom: 1rem;
}
@media all and (min-width: 1200px) {
    .app  {
      //margin-left: 20%;
      //margin-right: 20%;
    }
}
#img-profil {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
#img-profil-settings {
    border-radius: 5%;
    height:150px;
    width: 150px;
    cursor: pointer;
}
.btn {
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 1rem;
    overflow: hidden;
    -webkit-user-select: none;
    box-shadow: 0 0 3px #2A2A28;
    &:active, &:focus {
      outline: none;
    }
    &--disabled {
      pointer-events: none;
      background-color: grey;
    }
}
.slider {
    position: relative;
    -webkit-appearance: none;
    width: 40px;
    height: 22px;
    background-color: #E8E7E7;
    border: 0.5px solid black;
    outline: none;
    transition: 0.4s;
    border-radius: 30px;
    cursor: pointer;

    &:checked {
      background-color: #F1DA66;
    }
    &:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 20px;
      top: 5%;
      left: 6%;
      background-color: black;
      transition: 0.4s;
    }
    &:checked:before {
      left: 19px;
    }
}
.container {
    width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
.row {
    &:before, &:after {
      content: "";
      display: table;
      clear: both;
    }
}
[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 8.33%;
    padding: 0.15rem;
    background-color: transparent;
}
.col-1{ width: 8.33%;  }
.col-2{ width: 16.66%; }
.col-3{ width: 25%;  max-width: 220px; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%;    }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%;    }
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;  }

@media all and (max-width:800px) {
    .col-1{ width: 100%; padding: 0; }
    .col-2{ width: 33.33%;  }
    .col-3{ width: 50%;     }
    .col-4{ width: 66.66%;  }
    .col-5{ width: 75%;     }
    .col-6{ width: 91.66%;  }
    .col-7{ width: 100%;    }
    .col-8{ width: 100%;    }
    .col-9{ width: 100%;    }
    .col-10{ width: 100%;   }
    .col-11{ width: 100%;   }
    .col-12{ width: 100%;   }

    .row .col-2:last-of-type {
        width: 100%;
    }

    .row .col-10 ~ .col-1 {
        width: 100%;
    }
}

@media all and (max-width:650px) {
        .col-1{ width: 100%;    }
        .col-2{ width: 100%;   }
        .col-3{ width: 100%;   }
        .col-4{ width: 100%;   }
        .col-5{ width: 100%;   }
        .col-6{ width: 100%;   }
        .col-7{ width: 100%;   }
        .col-8{ width: 100%;   }
        .col-9{ width: 100%;   }
        .col-10{ width: 100%;  }
        .col-11{ width: 100%;  }
        .col-12{ width: 100%;  }
    }

@keyframes pulse {
    0% {
      background-color: rgba(235, 235, 235, 0.6);
    }
    50% {
      background-color: rgba(235, 235, 235, 1);
    }
    100% {
      background-color: rgba(235, 235, 235, 0.6);
    }
}
