.settings-tabs {
  .settings-tablist {
    margin: 0;
    padding: 0;
  }
  .settings-tab {
    list-style: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 15px;
    font-weight: 400;
    outline: none;

    &--selected {
      background-color: #EDEDED;
      color: black;
      font-weight: 500;
    }
  }
  .settings-tabpanel {
    padding-left: 2rem;
  }
}

.button-update-profile {
  color: black;
  font-weight: 500;
  border-radius: 3px;
  outline: none;
  background-color: #55C1AE;
  border: 1px solid black;
  padding: 5px;
  &:focus, &:active, &:hover {
      background-color: #69c9b7;
      color: black;
  }
}
