.react-tabs {
  &__tab-list {
    margin: 0;
    padding: 0;
  }
  &__tab {
    list-style: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 16px;
    font-weight: 400;
    outline: none;

    &--selected {
      background-color: #EDEDED;
      color: black;
      font-weight: 500;
    }
  }
  &__tab-panel {
    padding-left: 2rem;
  }
}

#btn-profile {
  color: black;
  font-weight: 500;
  border-radius: 5px;
  outline: none !important;
  background-color: #55C1AE !important;
  border: 1px solid black !important;
  &:focus, &:active, &:hover {
      background-color: #69c9b7 !important;
      box-shadow: (none) !important;
      color: black !important;
  }
}
