#home-container {
    padding-top: 15px;
    width: 100%;

    .navbar-tabs {

      .navbar-side {

        height: 100%;
        width: 100%;
        padding-top: 15px;
        position: fixed;
        //text-align: center;

        .navbar-tablist {

            margin: 0;
            padding: 0;

            @media (max-width: 800px) {
              display: flex;
              width: 100%;
              justify-content: center;
              align-items: center;
            }

            .navbar-tab {

              list-style: none;
              cursor: pointer;
              outline: none;

              .navbar-side-logo {

                width: 100%;
                position: relative;
                display: flex;
                color: #606060;
                padding-left: 5px;
                padding-bottom: 35px;

                h1 {
                  position: absolute;
                  padding-top: 6px;
                  padding-left: 35px;
                  font-size: 13px;
                  font-weight: 400;
                }

                @media(min-width: 1200px) {
                  margin-left: -8px;
                }
              }

              &--selected {
                background-color: transparent;
                .navbar-side-logo{
                  color: #F53240;
                }
              }

            }
          }
        }
    }
}
.frontpage-suggestions-card {

    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    line-height: 16px;
    letter-spacing: 0.2px;
    max-width: 210px;
    position: relative;
    cursor: pointer;

    &:empty {
      height: 200px;
      width: 100%;
      background-color: #EBEBEB;
      animation: pulse 1s infinite ease;
    }

    a {
      .frontpage-suggestions-card-img {

        display: block;
        position: relative;

        img {
          width: 100%;
          height: 110px;
          min-height: 110px;
          object-fit: cover;
          min-width: 180px;
        }
        .frontpage-suggestions-card-video-duration {
          position: absolute;
          background-color: red;
          bottom: 4px;
          right: 5px;
          padding: 2px 4px 2px 4px;
          font-size: 12px;
          line-height: 12px;
          color: #F3F3F3;
          background-color: rgba(13, 13, 13, 0.7);
          border-radius: 2px;
        }
      }
      .frontpage-suggestions-card-body {

        .frontpage-suggestions-card-title {
          text-align: left;
          font-size: 14px;
          font-weight: 500;
          padding-top: 8px;
          margin-bottom: 10px;
        }

        .frontpage-suggestions-card-info {

          position: absolute;
          bottom: 0;

          .frontpage-suggestions-card-author {
            text-align: left;
            font-size: 13px;
            font-weight: 400;
            color: #6D6D6D;
            margin-bottom: 2px;
          }
          .frontpage-suggestions-card-views {
            text-align: left;
            font-size: 13px;
            font-weight: 400;
            color: #6D6D6D;
            margin: 0;
          }
        }
      }
    }
    &:hover {
      transform: scale(1.01);
    }
}
.frontpage-suggestions-header {
    padding: 1rem;
    padding-left: 0.1rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    display: block;
    width: 99%;
    &--loading {
      background-color: #EBEBEB;
      color: transparent;
      animation: pulse 1s infinite ease;
    }
}
