:root {
    --fnt-size: 12px;
}

body {
    background-color: #FFFFFF;
    font-size: 16px;
}

.hack{
    font-size: var(--fnt-size)
}
.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}
#header {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.compose-poop-window {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.02);
    transition: visibility 0s linear 0.15s, opacity 0.15s, transform 0.15s;
}
.poop-content{
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 1rem 1.5rem;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    line-height: 2rem;
    cursor: pointer;
    font-weight: normal;
    font-size: 1.5rem;
}
.close-button:hover {
    font-weight: bold;
}
.show-compose-poop-window{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.15s, transform 0.15s;
}
#poop-form-control{
    font-size: 1.5rem;;
}
