#form-control-comment {
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  border-width: 0px;
  outline: none;
  opacity: 0.95;
}
#form-control-comment:focus {
    border-radius: 20px;
    transition: border-radius 0.3s;
    border-width: 0px;
    outline: none;
    border-color: None;
    box-shadow: 0 0 0 0;
}
#btn-upvote {
    color: red;
    background-color: transparent;
}
#btn-downvote {
    color: black;
    background-color: transparent;
}
#btn-upvote:focus, #btn-upvote:active, #btn-upvote:hover {
    background-color: transparent !important;
    box-shadow: (none) !important;
    color: red !important;
    border: none !important;
}
#btn-downvote:focus, #btn-downvote:active, #btn-downvote:hover {
    background-color: transparent !important;
    box-shadow: (none) !important;
    color: black !important;
    border: none !important;
}
