#form-control-comment {
  border: 2px solid #505458;
  transition: all 0.3s ease-in-out;
  outline: none;
  opacity: 0.95;
  box-shadow: 1px 1px 0 1px #ccc;
}
#form-control-comment:focus {
    outline: none;
}
#btn-upvote {
    color: red;
    background-color: transparent;
}
#btn-downvote {
    color: black;
    background-color: transparent;
}
#btn-upvote:focus, #btn-upvote:active, #btn-upvote:hover {
    background-color: transparent !important;
    box-shadow: (none) !important;
    color: red !important;
    border: none !important;
}
#btn-downvote:focus, #btn-downvote:active, #btn-downvote:hover {
    background-color: transparent !important;
    box-shadow: (none) !important;
    color: black !important;
    border: none !important;
}
#video-overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
}
