#form-control-comment {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #505458;
  transition: all 0.3s ease-in-out;
  outline: none;
  width: 90%;
  box-shadow: none;
  margin-bottom: 2rem;
  &:focus {
    outline: none;
  }
}
#btn-upvote {
    color: black;
    background-color: transparent;
    margin-right: 1.5rem;
    border: none;
    &:hover {
      background-color: transparent !important;
      box-shadow: (none) !important;
      color: #E0235F !important;
      border: none !important;
    }
    &:focus, &:active {
      box-shadow: (none) !important;
      border: none !important;
    }
}
#btn-downvote {
    color: black;
    background-color: transparent;
    margin-right: 1.5rem;
    border: none;
    &:hover {
      background-color: transparent !important;
      box-shadow: (none) !important;
      color: #5975CC !important;
      border: none !important;
    }
    &:focus, &:active {
      box-shadow: (none) !important;
      border: none !important;
    }
}
.video-player-container {
    position: relative;
    &:hover {
      .video-controls {
        opacity: 1;
      }
    }
}
#video-overlay {
    position: absolute;
    left: -10%;
    top: 20%;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
}
video {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: black !important;
    &:hover {
      //cursor: pointer;
    }
}
.video-controls {
    opacity: 0;
    transition: all 0.2s;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: transparent;
}
#video-play-button {
    color: #FFFFFF !important;
    outline: none !important;
    padding-left: 1.2rem;
    padding-bottom: 0.6rem;
    padding-top: 0rem;
    &:active,&:focus, &:hover {
      box-shadow: (none) !important;
    }
}
.video-expand {
    right: 0;
}
#video-expand-button {
    color: #FFFFFF !important;
    outline: none !important;
    padding-right: 1.2rem;
    padding-bottom: 0.6rem;
    padding-top: 0rem;
    &:active,&:focus, &:hover {
      box-shadow: (none) !important;
    }
}
.video-timebar {
    cursor: pointer;
    width: 97%;
    margin: auto;
    &:hover, &:focus, &:active {
      .video-timebar-progress, .video-timebar-line {
        height: 5px;
      }
      .video-timebar-progress {
        background-color: #A19FA1;
      }
      .video-timebar-progress::-webkit-slider-thumb {
        transition: all 0.1s;
        opacity: 1;
      }
    }
}
.video-timebar-progress {
    -webkit-appearance: none;
    width: 100%;
    cursor: pointer;
    &::-webkit-slider-runnable-track {
        height: 3px;
        background-color: #A19FA1;
        border: none;
        border-radius: 3px;
    }
    &::-webkit-slider-thumb {
        opacity: 0;
        -webkit-appearance: none;
        border: none;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background-color: #F2F2F2;
        margin-top: -4.5px;
    }
    &:focus, &:focus::-webkit-slider-runnable-track {
        outline: none;
        background-color: #A19FA1;
    }
}
