.navbar {
    position: sticky;
    overflow: hidden;
    z-index: 100;
}
.nav-header {
    width: 100%;
    background-color: #FDF9F3;
    border-bottom: 1px solid #D0CDC8;
    position: sticky;
    overflow: hidden;
    z-index: 100;
    transition: all 0.5s linear;
    opacity: 0.95;
}
#btn-control {
    color: #505458;
    background-color: transparent;
}
#btn-control:focus, #btn-control:active, #btn-control:hover {
    background-color: transparent !important;
    box-shadow: (none) !important;
    color: black !important;
    border: none !important;
}
.toggle-menu {
    right: 0;
    position: fixed;
    background-color: #FDF9F3;
    border: 1px solid #D0CDC8;
}
.toggle-menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
}
.toggle-menu li {
    padding: 1.5rem;
}
.toggle-menu li:hover {
    background-color: #FCF5EA;
    cursor: pointer;
}
