.nav-header {
    top: 0;
    position: sticky;
    width: 100%;
    background-color: #F5F5F5 !important;
    box-shadow: 0 0.7px 0 0 #ccc;
    z-index: 100;
    transition: all 0.5s linear;
    background-color: #FDF9F3;

    .navbar {
        width: 100%;
        z-index: 100;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        top: 0;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navbar-logo-menu {

          display: flex;
          align-items: center;

          .navbar-menu {
            display: inline-block;
            cursor: pointer;

            .navbar-menu-line {
              width: 18px;
              height: 2px;
              background-color: #333;
              margin: 3px 0;
            }
          }

          .navbar-logo {
            font-weight: 500;
            font-size: 19px;
            font-family: Helvetica;
            letter-spacing: -0.6px;
            margin-right: 2rem;
            padding-bottom: 4px;
            padding-left: 25px;
            overflow: visible;
            white-space: nowrap;
            @media(max-width: 600px) {
              display: none;
            }
          }
        }

        .navbar-user {

          position: relative;

          .navbar-user-pic {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            //border: 1px solid #A6C3EE;
            &:hover {
              cursor: pointer;
            }
          }
          .navbar-toggle-user-settings {
            position: absolute;
            width: 240px;
            height: 370px;
            background-color: #F5F5F5;
            top: 5%;
            right: 130%;
            box-shadow: 0 0 2px #E8E8E8;

            hr {
              border-top: 1px solid #E8E8E8;
              width: 100%;
            }

            .navbar-toggle-user-info {
              display: flex;
              padding: 20px;
              padding-bottom: 10px;
              padding-left: 15px;

              .navbar-toggle-user-pic {
                width: 40px;
                height: 40px;
                border-radius: 50%;

              }
              .navbar-toggle-user-text {

                display: block;
                padding-left: 15px;

                .navbar-toggle-user-username {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 20px;
                  margin: 0;
                }
                .navbar-toggle-user-email {
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 21px;
                  margin: 0;
                }
              }
            }

            a {

              cursor: pointer;
              width: 100%;

              .navbar-toggle-user-settings-links {
                display: block;
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                cursor: pointer;
                font-size: 15px;
                font-weight: 400;
                line-height: 21px;
                color: #313131;
                &:hover {
                  background-color: #E8E7E7;
                }
              }
            }
          }
        }
        .navbar-messages {
          .message-button {
              color: #262626;
              overflow: hidden;
              background-color: transparent;
              border: none;
              outline: none;
              z-index: 2;
              cursor: pointer;
              &:focus, &:active, &:hover {

              }
          }
          .navbar-toggle-message {
              position: absolute;
              background-color: #F5F5F5;
              top: 95%;
              width: 300px;
              height: 200px;
              right: 8%;
              box-shadow: 0 0 2px #E8E8E8;

              .navbar-toggle-message-header {
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                padding: 10px;
                padding-left: 20px;
                width: 100%;
                background-color: #E8E7E7;
              }
              .navbar-toggle-message-body {
                text-align: center;
                padding-top: 30px;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
              }
          }
        }
        .navbar-upload {

          .upload-button {
            color: #262626;
            overflow: hidden;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            &:focus, &:active, &:hover {

            }
          }
        }
        .navbar-search {
          width: 55%;
          position: relative;

          @media (min-width: 1200px) {
            width: 65%;
          }
          @media (min-width: 1500px) {
            width: 70%;
          }

          form {

            position: absolute;
            width: 70%;
            top: -17px;
            left: 15%;
            max-width: 600px;
            min-width: 150px;

            @media (max-width: 600px) {
              left: 10%;
            }

            .navbar-form-input {
                border: none;
                width: 100%;
                outline: none;
                background-color: #E8E7E7;
                border-radius: 5px;
                height: 35px;
                padding-left: 1rem;
                font-size: 14px;
                &:focus {
                  outline: none;
                }
            }
            .search-suggestions {
                width: 100%;
                border: none;
                border-bottom-left-radius: 5px !important;
                border-bottom-right-radius: 5px !important;
                box-shadow: 0 0 2px #E8E8E8;
                background-color: #F5F5F5;
                list-style-type: none;
                text-align: left;
                margin: 0;
                padding: 0;
                overflow: hidden;
                &::before {
                  content: "";
                }
                li {
                  padding-left: 1rem;
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  &:hover {
                      background: #EEEEEE;
                      cursor: pointer;
                  }
                }
            }

          }
        }
    }
}
