<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- hack css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css" />
  <!-- plyr css -->
  <link rel="stylesheet" href="https://cdn.plyr.io/3.5.3/plyr.css" />
  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
    <title>nickipedia - {{ title }}</title>
  {% else %}
    <title>nickipedia</title>
  {% endif %}

</head>
<body class="hack">
  {% if current_user.is_authenticated %}
  <div class="container" style="padding:3%;">
    <b style="font-size:30px;">nickipedia</b>
    {% include "search.html" %}
    <hr>
    <div class="grid">
      <div class="cell -2of12">
        <div class="menu">
          <a class="menu-item active" href="/home">
            home
            <div class="pull-right">»</div>
          </a>
          <br>
          <a class="menu-item">
            settings
            <div class="pull-right">»</div>
          </a>
          <br>
          <a class="menu-item">
            about
            <div class="pull-right">»</div>
          </a>
        </div>
      </div>
      <div class="cell -0.5of12"></div>
      <div class="cell -7of12">
        <div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-warning">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="cell -0.5of12"></div>
      <div class="cell -2of12">
        {% if current_user.is_authenticated %}
        <button class="btn btn-error btn-ghost"><a style="text-decoration:none" href="/logout">logout</a></button>
        <p/>
        <button class="btn btn-default btn-ghost"><a href="/upload">upload</a></button>
        <p/>
        {% else %}
        {% endif %}
        <div class="alert alert-info">Info message<p>Bachenbenno auf Tour</p></div>
      </div>
    </div>
    <hr>
    <footer class="footer">Version 0.1</footer>
  </div>
    {% else %}
    {% include "login.html" %}
    {% endif %}
  <!-- js -->
  <script src="https://cdn.plyr.io/3.5.3/plyr.polyfilled.js"></script>
</body>
</html>
