<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- hack css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css" />
  <!-- plyr css -->
  <link rel="stylesheet" href="https://cdn.plyr.io/3.5.3/plyr.css" />
  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  {% if title %}
    <title>nickipedia - {{ title }}</title>
  {% else %}
    <title>nickipedia</title>
  {% endif %}
</head>
