{% include "meta.html" %}
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">nickipedia</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">about</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div>
        {% include "messages.html" %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="col-sm">
      {% include "compose.html" %}
      <button type="button" class="btn btn-outline-danger" onClick="window.location.href='/logout'">logout</button>
      {% include "uploads.html" %}
    </div>
  </div>
</div>
  <footer class="footer">Version 0.1</footer>
  {% include "scripts.html" %}
</body>
</html>
