{% include "meta.html" %}
<body class="hack">
  <div id="header">
    <b>nickipedia</b>
  </div>
  <div class="container" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
    {% include "messages.html" %}
    <form class=form method="POST" action="" style="margin-left: auto; margin-right: auto;">
      {{ loginform.hidden_tag() }}
      <fieldset class="form-group">
        <div class="form-group">
          {{ loginform.username.label(class="form-control-label", style="font-weight:bold") }}
          {{ loginform.username(class="form-control") }}
        </div>
      </fieldset>
    </form>
  </div>
</body>
