{% include "meta.html" %}
<body class="container">
  <div class="container" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
    {% include "messages.html" %}
    <form class=form method="POST" action="">
      {{ registrationform.hidden_tag() }}
        <div class="form-group">
          {{ registrationform.username.label(class="form-control-label") }}
          {{ registrationform.username(class="form-control") }}
        </div>
        <div class="form-actions">
          {{ registrationform.submit(class="btn btn-primary btn-ghost") }}
        </div>
    </form>
  </div>
  {% include "scripts.html" %}
</body>
