:root {
    --fnt-size: 12px;
}

body {
    background-color: #FFFFFF;
    font-size: 16px;
}

.hack{
    font-size: var(--fnt-size)
}
.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}
#header {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
